/**
 * @name Zelk
 * @version 1.2.2
 * @description a smooth theme inspired by zorin
 * @author schnensch
 * @authorId 652801938374656013
 * @source https://github.com/schnensch0/zelk
 * @invite tMEcBhsNqA
 */
/*         ▀▀█ █▀▀ █   █ █
           ▄▀  █▀▀ █   █▀▄
           ▀▀▀ ▀▀▀ ▀▀▀ ▀ ▀           */
 /*--------------IMPORTS------------- */
@import url(https://raw.githubusercontent.com/nightware47/Vencord-Theme/main/Zelk.css);
@import url(https://raw.githubusercontent.com/nightware47/Vencord-Theme/main/usrbg.css);
@import url(https://raw.githubusercontent.com/nightware47/Vencord-Theme/main/SettingsIcons.css);
/*--------------COLORS---------------*/
/*------remove / and * to apply------*/
/* @import url(https://raw.githack.com/schnensch0/zelk/main/colors/discord.css); */
/*-------------VARIABLES-------------*/
:root {
  /* set to 'unset' to show */
  --scrollbars: none;
  /* user notes */
  --notes: none;
  /* direct message box */
  --message: none;
  /* set to '4px solid' to show */
  --embed-color: none;
  /* set to 'Inter', sans-serif !important to use Inter font*/
  --border-radius-1: 10px;
  --border-radius-2: 8px;
}
/*-----------CUSTOM COLORS-----------*/
/*-------------DARK MODE-------------*/
/*---------------BASIC---------------*/
/*-----------DON'T CHANGE------------*/
:root {
  --outdated-122: none !important;
}
/*  usrbg | snippet by _david_#0218  */
.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N, .root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 120px;
  background: var(--background-tertiary) var(--user-background) var(--user-popout-position, center) center / cover !important;
}
.root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 240px;
}
